In [1]:
import numpy as np 
import pandas as pd

In [2]:
pd.options.display.max_columns = 40

In [3]:
modeling_train = pd.read_csv("Train_Modeling_Dataset.csv")

In [4]:
modeling_train.shape

(69713, 112)

In [5]:
modeling_train.head()

,ID,Employer_Category2,Monthly_Income,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved,DOB_year,age_DOB,Days_since_lead_creation,Primary_Bank_Type_G,Primary_Bank_Type_P,Contacted_N,Contacted_Y,Source_Category_A,Source_Category_B,Source_Category_C,...,Source_S138,Source_S139,Source_S141,Source_S143,Source_S144,Source_S150,Source_S151,Source_S153,Source_S155,Source_S156,Source_S157,Source_S158,Source_S159,Source_S161,Source_S162,Employer_Category1_A,Employer_Category1_B,Employer_Category1_C,Gender_Female,Gender_Male
0,APPC90493171225,4.0,2000.0,0.0,NaN,NaN,NaN,NaN,0,0,1979.0,39.0,188,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
1,APPD40611263344,1.0,3500.0,0.0,20000.0,2.0,13.25,953.0,10,0,1986.0,32.0,287,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
2,APPE70289249423,4.0,2250.0,0.0,45000.0,4.0,NaN,NaN,0,0,1982.0,36.0,184,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
3,APPF80273865537,4.0,3500.0,0.0,92000.0,5.0,NaN,NaN,7,0,1989.0,29.0,134,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
4,APPG60994436641,4.0,10000.0,2500.0,50000.0,2.0,NaN,NaN,10,0,1985.0,33.0,183,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1

In [6]:
"Approved" in modeling_train.columns

True

In [7]:
desc = modeling_train.describe()
desc

,Employer_Category2,Monthly_Income,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved,DOB_year,age_DOB,Days_since_lead_creation,Primary_Bank_Type_G,Primary_Bank_Type_P,Contacted_N,Contacted_Y,Source_Category_A,Source_Category_B,Source_Category_C,Source_Category_D,...,Source_S138,Source_S139,Source_S141,Source_S143,Source_S144,Source_S150,Source_S151,Source_S153,Source_S155,Source_S156,Source_S157,Source_S158,Source_S159,Source_S161,Source_S162,Employer_Category1_A,Employer_Category1_B,Employer_Category1_C,Gender_Female,Gender_Male
count,65415.000000,6.971300e+04,69662.000000,42004.000000,42004.000000,22276.000000,22276.000000,69713.000000,69713.000000,69698.000000,69698.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,...,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.00000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000
mean,3.720187,5.622283e+03,360.928751,39429.982859,3.890629,19.213570,1101.466242,3.948446,0.014631,1988.614609,29.385391,174.253970,0.296975,0.568316,0.350552,0.649448,0.000043,0.427639,0.163155,0.007129,...,0.000029,0.000029,0.000660,0.049919,0.003486,0.00010,0.008162,0.005781,0.000043,0.003586,0.007273,0.002396,0.064177,0.008908,0.000445,0.478189,0.259005,0.205170,0.426950,0.573050
std,0.807374,1.747671e+05,2288.517927,30727.595990,1.167491,5.847136,752.661394,3.819214,0.120073,14.873144,14.873144,75.625156,0.456929,0.495315,0.477146,0.477146,0.006560,0.494740,0.369509,0.084134,...,0.005356,0.005356,0.025679,0.217779,0.058937,0.01002,0.089975,0.075812,0.006560,0.059777,0.084970,0.048886,0.245070,0.093961,0.021083,0.499528,0.438091,0.403829,0.494639,0.494639
min,1.000000,0.000000e+00,0.000000,5000.000000,1.000000,11.990000,118.000000,0.000000,0.000000,1968.000000,-49.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,1.650000e+03,0.000000,20000.000000,3.000000,15.250000,649.000000,0.000000,0.000000,1983.000000,28.000000,123.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,2.500000e+03,0.000000,30000.000000,4.000000,18.000000,941.000000,2.000000,0.000000,1987.000000,31.000000,155.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,4.000000,4.000000e+03,350.000000,50000.000000,5.000000,20.000000,1295.000000,7.000000,0.000000,1990.000000,35.000000,189.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,4.000000,3.838384e+07,545436.500000,300000.000000,6.000000,37.000000,13556.000000,10.000000,1.000000,2067.000000,50.000000,378.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
modeling_train.index = modeling_train["ID"]
modeling_train.drop(["ID"], axis = 1, inplace = True)

In [9]:
# Number of Approved before cutting down dataset size 
print("Number of positive class: ", sum(modeling_train["Approved"]))
print("Percentage of positive class: ", 100 * sum(modeling_train["Approved"])/modeling_train.shape[0], "%")

Number of positive class:  1020
Percentage of positive class:  1.46314173827 %

For missing values, we can 
1. Look for all complete 
2. Impute missing value indicator 999/ 99999 
3. Impute mean (for linear regression)

df.apply(lambda x: x.fillna(x.mean()),axis=0)

In [10]:
fill_nas = modeling_train.apply(lambda x: x.mean(skipna=True), axis=0)

In [11]:
demo = modeling_train.apply(lambda x: x.fillna(x.mean()), axis=0)

In [12]:
print("Number of positive in new set: ", np.sum(demo["Approved"])) 
print("Percentage in positive set: ", 100* np.sum(demo["Approved"])/ demo.shape[0], "%")

Number of positive in new set:  1020
Percentage in positive set:  1.4631417382697631 %

In [13]:
np.sum(demo["Approved"])/modeling_train.shape[0]

0.014631417382697631

## Start ML Process

In [14]:
X = demo.drop(["Approved"], axis = 1)
Y = demo["Approved"]

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = 1234) # , shuffle = True)

In [17]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [18]:
def log_metrics(true_y, scores):
    train_roc = roc_auc_score(true_y, scores)
    train_acc =  accuracy_score(true_y, scores)
    
    print("--- Confusion Matrix ---")
    print(confusion_matrix(true_y, scores))
    print("Train ROC: ", train_roc) 
    print("Accuracy: ", 100*train_acc,"%")

### Search Gradient Boosted Trees

In [19]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [20]:
np.random.seed(1234)
param_dist = {"n_estimators": [50, 100, 200], 
              "learning_rate": [0.001, 0.01, 0.1],
              "max_depth": [3, 6, 9, None],
              "max_features": ["auto", None, 3, 7, 12]
              }
n_iter_search = 20

In [ ]:
gbm_random_search = RandomizedSearchCV(GradientBoostingClassifier(verbose = 1), param_distributions=param_dist,
                                   n_iter=n_iter_search, cv = 3, n_jobs = 3)

In [ ]:
gbm_random_search.fit(X, Y)

In [ ]:
gbm_random_search.cv_results_.keys()

In [ ]:
wanted_grid_params = ["mean_train_score" ,"mean_test_score", "param_n_estimators", "param_learning_rate"
                      "param_max_depth", "param_max_features", "rank_test_score"]

In [ ]:
dict_temp = {x:gbm_random_search.cv_results_[x] for x in wanted_grid_params}
search_results = pd.DataFrame(dict_temp)
search_results["test_train_pct_diff"] = (search_results.mean_train_score - search_results.mean_test_score)/ search_results.mean_test_score
search_results[search_results.test_train_pct_diff < 0.10]\
.sort_values(by=["mean_test_score"], ascending = False).head(15)

*look through the grid to find the best gradient boosted classifier *

In [ ]:
from sklearn.utils.class_weight import compute_sample_weight

In [ ]:
weights_full = compute_sample_weight({1:75, 0:1}, Y)

In [ ]:
weights = compute_sample_weight({1:75, 0:1}, Y_train)

In [ ]:
# Refit best gbm model 
gbm_better = GradientBoostingClassifier(n_estimators = 50, learning_rate =  0.01, max_depth = 4, verbose = 1, warm_start=True)
gbm_better.fit(X_train,Y_train, sample_weight=weights)

In [ ]:
gbm_train_scores = gbm_better.predict(X_train)
gbm_test_scores = gbm_better.predict(X_test)

In [ ]:
log_metrics(Y_train, gbm_train_scores)
log_metrics(Y_test, gbm_test_scores)

In [ ]:
gbm_best = GradientBoostingClassifier(n_estimators = 50, learning_rate =  0.01, max_depth = 4, verbose = 1, warm_start=True)
gbm_final_model = gbm_best.fit(X,Y, weights_full)

### Start Submission Steps

In [ ]:
test_data = pd.read_csv("Test_Modeling_Dataset.csv")

In [ ]:
test_data.head()

In [ ]:
test_data.index = test_data["ID"]
test_data.drop(["ID"], axis = 1, inplace= True)

In [ ]:
# Fill NA's with previous set's values 
test_data = test_data.fillna(fill_nas, axis = 0, inplace=True)

In [ ]:
test_data.describe()

In [ ]:
sample_submission = pd.read_csv("Sample_Solution_Yrq0zGh.csv")

In [ ]:
sample_submission.head()

### GBM Scores

In [ ]:
gbm_sub_scr = gbm_final_model.predict(test_data)
submission_file = pd.DataFrame({"ID":test_data.index, "Approved": gbm_sub_scr})
submission_file.to_csv("GBM_Predictionssklearn .csv", index=False)