In [1]:
import numpy as np 
import pandas as pd

In [2]:
pd.options.display.max_columns = 40

In [3]:
modeling_train = pd.read_csv("Train_Modeling_Dataset.csv")

In [4]:
modeling_train.shape

(69713, 112)

In [5]:
modeling_train.head()

,ID,Employer_Category2,Monthly_Income,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved,DOB_year,age_DOB,Days_since_lead_creation,Primary_Bank_Type_G,Primary_Bank_Type_P,Contacted_N,Contacted_Y,Source_Category_A,Source_Category_B,Source_Category_C,...,Source_S138,Source_S139,Source_S141,Source_S143,Source_S144,Source_S150,Source_S151,Source_S153,Source_S155,Source_S156,Source_S157,Source_S158,Source_S159,Source_S161,Source_S162,Employer_Category1_A,Employer_Category1_B,Employer_Category1_C,Gender_Female,Gender_Male
0,APPC90493171225,4.0,2000.0,0.0,NaN,NaN,NaN,NaN,0,0,1979.0,39.0,188,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
1,APPD40611263344,1.0,3500.0,0.0,20000.0,2.0,13.25,953.0,10,0,1986.0,32.0,287,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
2,APPE70289249423,4.0,2250.0,0.0,45000.0,4.0,NaN,NaN,0,0,1982.0,36.0,184,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
3,APPF80273865537,4.0,3500.0,0.0,92000.0,5.0,NaN,NaN,7,0,1989.0,29.0,134,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
4,APPG60994436641,4.0,10000.0,2500.0,50000.0,2.0,NaN,NaN,10,0,1985.0,33.0,183,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1

In [6]:
"Approved" in modeling_train.columns

True

In [7]:
desc = modeling_train.describe()
desc

,Employer_Category2,Monthly_Income,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved,DOB_year,age_DOB,Days_since_lead_creation,Primary_Bank_Type_G,Primary_Bank_Type_P,Contacted_N,Contacted_Y,Source_Category_A,Source_Category_B,Source_Category_C,Source_Category_D,...,Source_S138,Source_S139,Source_S141,Source_S143,Source_S144,Source_S150,Source_S151,Source_S153,Source_S155,Source_S156,Source_S157,Source_S158,Source_S159,Source_S161,Source_S162,Employer_Category1_A,Employer_Category1_B,Employer_Category1_C,Gender_Female,Gender_Male
count,65415.000000,6.971300e+04,69662.000000,42004.000000,42004.000000,22276.000000,22276.000000,69713.000000,69713.000000,69698.000000,69698.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,...,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.00000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000
mean,3.720187,5.622283e+03,360.928751,39429.982859,3.890629,19.213570,1101.466242,3.948446,0.014631,1988.614609,29.385391,174.253970,0.296975,0.568316,0.350552,0.649448,0.000043,0.427639,0.163155,0.007129,...,0.000029,0.000029,0.000660,0.049919,0.003486,0.00010,0.008162,0.005781,0.000043,0.003586,0.007273,0.002396,0.064177,0.008908,0.000445,0.478189,0.259005,0.205170,0.426950,0.573050
std,0.807374,1.747671e+05,2288.517927,30727.595990,1.167491,5.847136,752.661394,3.819214,0.120073,14.873144,14.873144,75.625156,0.456929,0.495315,0.477146,0.477146,0.006560,0.494740,0.369509,0.084134,...,0.005356,0.005356,0.025679,0.217779,0.058937,0.01002,0.089975,0.075812,0.006560,0.059777,0.084970,0.048886,0.245070,0.093961,0.021083,0.499528,0.438091,0.403829,0.494639,0.494639
min,1.000000,0.000000e+00,0.000000,5000.000000,1.000000,11.990000,118.000000,0.000000,0.000000,1968.000000,-49.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,1.650000e+03,0.000000,20000.000000,3.000000,15.250000,649.000000,0.000000,0.000000,1983.000000,28.000000,123.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,2.500000e+03,0.000000,30000.000000,4.000000,18.000000,941.000000,2.000000,0.000000,1987.000000,31.000000,155.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,4.000000,4.000000e+03,350.000000,50000.000000,5.000000,20.000000,1295.000000,7.000000,0.000000,1990.000000,35.000000,189.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,4.000000,3.838384e+07,545436.500000,300000.000000,6.000000,37.000000,13556.000000,10.000000,1.000000,2067.000000,50.000000,378.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
modeling_train.index = modeling_train["ID"]
modeling_train.drop(["ID"], axis = 1, inplace = True)

In [9]:
# Number of Approved before cutting down dataset size 
print("Number of positive class: ", sum(modeling_train["Approved"]))
print("Percentage of positive class: ", 100 * sum(modeling_train["Approved"])/modeling_train.shape[0], "%")

Number of positive class:  1020
Percentage of positive class:  1.46314173827 %

For missing values, we can 
1. Look for all complete rows
2. Impute missing value indicator 999/ 99999 (might be better for trees) 
3. Impute mean (for linear regression)

In [10]:
fill_nas = modeling_train.apply(lambda x: x.mean(skipna=True), axis=0)

In [11]:
demo = modeling_train.apply(lambda x: x.fillna(x.mean()), axis=0)

In [13]:
print("Number of positive in new set: ", np.sum(demo["Approved"])) 
print("Percentage in positive set: ", 100* np.sum(demo["Approved"])/ demo.shape[0], "%")

Number of positive in new set:  1020
Percentage in positive set:  1.4631417382697631 %

In [14]:
np.sum(demo["Approved"])/modeling_train.shape[0]

0.014631417382697631

## Start ML Process

In [15]:
X = demo.drop(["Approved"], axis = 1)
Y = demo["Approved"]

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = 1234) # , shuffle = True)

In [21]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [22]:
def log_metrics(true_y, scores):
    train_roc = roc_auc_score(true_y, scores)
    train_acc =  accuracy_score(true_y, scores)

    print("--- Confusion Matrix ---")
    print(confusion_matrix(true_y, scores))
    print("Train ROC: ", train_roc) 
    print("Accuracy: ", 100*train_acc,"%")

### Logistic Regression

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
lin_fit = LogisticRegression(fit_intercept=True, class_weight={1:100, 0:1}).fit(X_train, Y_train)

In [20]:
lin_train_scores = lin_fit.predict(X_train)
lin_test_scores = lin_fit.predict(X_test)

log_metrics(Y_train, lin_train_scores)
log_metrics(Y_test, lin_test_scores)

### Random Forest

In [68]:
from sklearn.ensemble import RandomForestClassifier

In [69]:
rf1 = RandomForestClassifier(class_weight={1:100, 0:1}, n_estimators=50, verbose=1, max_depth=7).fit(X_train, Y_train)

[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    2.2s finished

In [72]:
rf1_train_scores = rf1.predict(X_train)
rf1_test_scores = rf1.predict(X_test)

log_metrics(Y_train, rf1_train_scores)
log_metrics(Y_test, rf1_test_scores)

[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    0.4s finished
[Parallel(n_jobs=1)]: Done  50 out of  50 | elapsed:    0.0s finished

### Grid Search Random Forest

In [30]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [ ]:
np.random.seed(1234)
param_dist_rf = {"n_estimators": [50, 100, 200], 
              "max_depth": [3, 6, 9, None],
              "max_features": ["auto", None, 3, 7, 12]
              }

In [ ]:
rf_random_search = GridSearchCV(RandomForestClassifier(verbose = 1, class_weight={1:100, 0:1}), 
                                param_grid=param_dist_rf, cv = 3, n_jobs=3)

In [ ]:
rf_random_search.fit(X, Y) # Use full set because are doing CV as the overfit check

In [ ]:
wanted_grid_params = ["mean_train_score" ,"mean_test_score", "param_n_estimators", "param_max_depth", 
                      "param_max_features", "rank_test_score"]

In [ ]:
dict_temp = {x:rf_random_search.cv_results_[x] for x in wanted_grid_params}
search_results = pd.DataFrame(dict_temp)
search_results["test_train_pct_diff"] = (search_results.mean_train_score - search_results.mean_test_score)/ search_results.mean_test_score
search_results[search_results.test_train_pct_diff < 0.10]\
.sort_values(by=["mean_test_score"], ascending = False).head(15)

*Look for best parameters in Grid *

In [76]:
rf_better = RandomForestClassifier(verbose = 1, class_weight={1:100, 0:1},
                                   n_estimators = 90, max_depth = 9, max_features = 'auto')

In [77]:
rf_better.fit(X_train, Y_train)

[Parallel(n_jobs=1)]: Done  90 out of  90 | elapsed:    5.6s finished

RandomForestClassifier(bootstrap=True, class_weight={0: 1, 1: 100},
            criterion='gini', max_depth=9, max_features='auto',
            max_leaf_nodes=None, min_impurity_split=1e-07,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=90, n_jobs=1,
            oob_score=False, random_state=None, verbose=1,
            warm_start=False)

In [83]:
rf_better_train_scr = rf_better.predict(X_train)
rf_better_test_scr = rf_better.predict(X_test)

log_metrics(Y_train, rf_better_train_scr)
log_metrics(Y_test, rf_better_test_scr)

[Parallel(n_jobs=1)]: Done  90 out of  90 | elapsed:    0.6s finished

[[38354 13149]
 [   60   721]]
Train ROC:  0.833934949975
Accuracy:  74.7360569199 %
[[12749  4441]
 [   56   183]]
Train ROC:  0.753671249948
Accuracy:  74.1981754547 %

[Parallel(n_jobs=1)]: Done  90 out of  90 | elapsed:    0.1s finished

Make sure it is not over fitting and that the parameters are the best

In [ ]:
rf_best = rf_better.fit(X,Y)

### Start Submission Steps

In [31]:
test_data = pd.read_csv("Test_Modeling_Dataset.csv")

In [32]:
test_data.head()

,ID,Employer_Category2,Monthly_Income,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,DOB_year,age_DOB,Days_since_lead_creation,Primary_Bank_Type_G,Primary_Bank_Type_P,Contacted_N,Contacted_Y,Source_Category_A,Source_Category_B,Source_Category_C,Source_Category_D,...,Source_S138,Source_S139,Source_S141,Source_S143,Source_S144,Source_S150,Source_S151,Source_S153,Source_S155,Source_S156,Source_S157,Source_S158,Source_S159,Source_S161,Source_S162,Employer_Category1_A,Employer_Category1_B,Employer_Category1_C,Gender_Female,Gender_Male
0,APPA70109647212,4.0,2150.0,0.0,10000.0,3.0,20.0,372.0,4,1988.0,30.0,257,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
1,APPB10687939341,4.0,4200.0,0.0,69000.0,5.0,24.0,1985.0,7,1981.0,37.0,378,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
2,APPC80449411414,4.0,1000.0,0.0,NaN,NaN,NaN,NaN,0,1990.0,28.0,378,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
3,APPD30665094501,3.0,1465.0,0.0,NaN,NaN,NaN,NaN,0,1992.0,26.0,378,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
4,APPE80379821637,4.0,2340.0,500.0,10000.0,2.0,NaN,NaN,0,1988.0,30.0,378,0,1,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1

In [33]:
test_data.index = test_data["ID"]
test_data.drop(["ID"], axis = 1, inplace= True)

In [34]:
# Fill NA's with previous set's values 
test_data = test_data.fillna(fill_nas, axis = 0, inplace=True)

In [35]:
test_data.describe()

,Employer_Category2,Monthly_Income,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,DOB_year,age_DOB,Days_since_lead_creation,Primary_Bank_Type_G,Primary_Bank_Type_P,Contacted_N,Contacted_Y,Source_Category_A,Source_Category_B,Source_Category_C,Source_Category_D,Source_Category_E,...,Source_S138,Source_S139,Source_S141,Source_S143,Source_S144,Source_S150,Source_S151,Source_S153,Source_S155,Source_S156,Source_S157,Source_S158,Source_S159,Source_S161,Source_S162,Employer_Category1_A,Employer_Category1_B,Employer_Category1_C,Gender_Female,Gender_Male
count,30037.000000,3.003700e+04,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,...,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000
mean,3.727793,3.977139e+03,348.921865,39462.041033,3.898181,19.235089,1099.361033,3.962313,1988.487860,29.512140,174.003329,0.304158,0.561441,0.350901,0.649099,0.000100,0.430502,0.163132,0.007324,0.014249,...,0.000033,0.000033,0.000732,0.047974,0.003762,0.000233,0.007657,0.005626,0.000033,0.003363,0.007457,0.002430,0.064887,0.009255,0.000633,0.481706,0.257815,0.207045,0.427240,0.572760
std,0.772131,2.328960e+04,1000.283653,23740.690865,0.894982,3.334475,412.364801,3.821020,14.653248,14.653248,75.396448,0.460058,0.496219,0.477260,0.477260,0.009994,0.495155,0.369492,0.085270,0.118518,...,0.005770,0.005770,0.027054,0.213715,0.061221,0.015264,0.087171,0.074799,0.005770,0.057891,0.086035,0.049239,0.246330,0.095760,0.025143,0.499674,0.437439,0.405195,0.494686,0.494686
min,1.000000,0.000000e+00,0.000000,5000.000000,1.000000,11.990000,118.000000,0.000000,1968.000000,-49.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,1.650000e+03,0.000000,30000.000000,3.890629,19.213570,1101.466242,0.000000,1983.000000,28.000000,123.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,2.500000e+03,0.000000,39429.982859,3.890629,19.213570,1101.466242,2.000000,1987.000000,31.000000,155.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,4.000000,4.000000e+03,350.000000,39429.982859,4.000000,19.213570,1101.466242,7.000000,1990.000000,35.000000,189.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,4.000000,3.500000e+06,43000.000000,300000.000000,6.000000,37.000000,6979.000000,10.000000,2067.000000,50.000000,378.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [36]:
sample_submission = pd.read_csv("Sample_Solution_Yrq0zGh.csv")

In [37]:
sample_submission.head()

Empty DataFrame
Columns: [ID, Approved]
Index: []

In [64]:
lin_reg_sub_scr = lin_fit.predict_proba(test_data)

In [65]:
lin_reg_sub_scr = [x[1] for x in lin_reg_sub_scr]

In [66]:
submission_file = pd.DataFrame({"ID":test_data.index, "Approved": lin_reg_sub_scr})

In [67]:
submission_file.to_csv("LinReg_Predictions.csv", index=False)

### RF Scores

In [80]:
rf_sub_scr = rf_better.predict_proba(test_data)
rf_sub_scr = [x[1] for x in rf_sub_scr] 
submission_file = pd.DataFrame({"ID":test_data.index, "Approved": rf_sub_scr})
submission_file.to_csv("RF_Predictionssklearn2.csv", index=False)

[Parallel(n_jobs=1)]: Done  90 out of  90 | elapsed:    0.3s finished