In [1]:
import numpy as np 
import pandas as pd

In [2]:
pd.options.display.max_columns = 40

In [3]:
modeling_train = pd.read_csv("Train_Modeling_Dataset.csv")

In [4]:
modeling_train.shape

(69713, 112)

In [5]:
modeling_train.head()

,ID,Employer_Category2,Monthly_Income,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved,DOB_year,age_DOB,Days_since_lead_creation,Primary_Bank_Type_G,Primary_Bank_Type_P,Contacted_N,Contacted_Y,Source_Category_A,Source_Category_B,Source_Category_C,...,Source_S138,Source_S139,Source_S141,Source_S143,Source_S144,Source_S150,Source_S151,Source_S153,Source_S155,Source_S156,Source_S157,Source_S158,Source_S159,Source_S161,Source_S162,Employer_Category1_A,Employer_Category1_B,Employer_Category1_C,Gender_Female,Gender_Male
0,APPC90493171225,4.0,2000.0,0.0,NaN,NaN,NaN,NaN,0,0,1979.0,39.0,188,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
1,APPD40611263344,1.0,3500.0,0.0,20000.0,2.0,13.25,953.0,10,0,1986.0,32.0,287,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
2,APPE70289249423,4.0,2250.0,0.0,45000.0,4.0,NaN,NaN,0,0,1982.0,36.0,184,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
3,APPF80273865537,4.0,3500.0,0.0,92000.0,5.0,NaN,NaN,7,0,1989.0,29.0,134,1,0,0,1,0,1,0,...,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
4,APPG60994436641,4.0,10000.0,2500.0,50000.0,2.0,NaN,NaN,10,0,1985.0,33.0,183,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1

In [6]:
"Approved" in modeling_train.columns

True

In [7]:
desc = modeling_train.describe()
desc

,Employer_Category2,Monthly_Income,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved,DOB_year,age_DOB,Days_since_lead_creation,Primary_Bank_Type_G,Primary_Bank_Type_P,Contacted_N,Contacted_Y,Source_Category_A,Source_Category_B,Source_Category_C,Source_Category_D,...,Source_S138,Source_S139,Source_S141,Source_S143,Source_S144,Source_S150,Source_S151,Source_S153,Source_S155,Source_S156,Source_S157,Source_S158,Source_S159,Source_S161,Source_S162,Employer_Category1_A,Employer_Category1_B,Employer_Category1_C,Gender_Female,Gender_Male
count,65415.000000,6.971300e+04,69662.000000,42004.000000,42004.000000,22276.000000,22276.000000,69713.000000,69713.000000,69698.000000,69698.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,...,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.00000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000,69713.000000
mean,3.720187,5.622283e+03,360.928751,39429.982859,3.890629,19.213570,1101.466242,3.948446,0.014631,1988.614609,29.385391,174.253970,0.296975,0.568316,0.350552,0.649448,0.000043,0.427639,0.163155,0.007129,...,0.000029,0.000029,0.000660,0.049919,0.003486,0.00010,0.008162,0.005781,0.000043,0.003586,0.007273,0.002396,0.064177,0.008908,0.000445,0.478189,0.259005,0.205170,0.426950,0.573050
std,0.807374,1.747671e+05,2288.517927,30727.595990,1.167491,5.847136,752.661394,3.819214,0.120073,14.873144,14.873144,75.625156,0.456929,0.495315,0.477146,0.477146,0.006560,0.494740,0.369509,0.084134,...,0.005356,0.005356,0.025679,0.217779,0.058937,0.01002,0.089975,0.075812,0.006560,0.059777,0.084970,0.048886,0.245070,0.093961,0.021083,0.499528,0.438091,0.403829,0.494639,0.494639
min,1.000000,0.000000e+00,0.000000,5000.000000,1.000000,11.990000,118.000000,0.000000,0.000000,1968.000000,-49.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,1.650000e+03,0.000000,20000.000000,3.000000,15.250000,649.000000,0.000000,0.000000,1983.000000,28.000000,123.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,2.500000e+03,0.000000,30000.000000,4.000000,18.000000,941.000000,2.000000,0.000000,1987.000000,31.000000,155.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,4.000000,4.000000e+03,350.000000,50000.000000,5.000000,20.000000,1295.000000,7.000000,0.000000,1990.000000,35.000000,189.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,4.000000,3.838384e+07,545436.500000,300000.000000,6.000000,37.000000,13556.000000,10.000000,1.000000,2067.000000,50.000000,378.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
modeling_train.index = modeling_train["ID"]
modeling_train.drop(["ID"], axis = 1, inplace = True)

In [9]:
# Number of Approved before cutting down dataset size 
print("Number of positive class: ", sum(modeling_train["Approved"]))
print("Percentage of positive class: ", 100 * sum(modeling_train["Approved"])/modeling_train.shape[0], "%")

Number of positive class:  1020
Percentage of positive class:  1.46314173827 %

For missing values, we can 
1. Look for all complete 
2. Impute missing value indicator 999/ 99999 
3. Impute mean (for linear regression)

df.apply(lambda x: x.fillna(x.mean()),axis=0)

In [10]:
fill_nas = modeling_train.apply(lambda x: x.mean(skipna=True), axis=0)

In [11]:
demo = modeling_train.apply(lambda x: x.fillna(x.mean()), axis=0)

In [12]:
print("Number of positive in new set: ", np.sum(demo["Approved"])) 
print("Percentage in positive set: ", 100* np.sum(demo["Approved"])/ demo.shape[0], "%")

Number of positive in new set:  1020
Percentage in positive set:  1.4631417382697631 %

In [13]:
np.sum(demo["Approved"])/modeling_train.shape[0]

0.014631417382697631

## Start ML Process

In [14]:
X = demo.drop(["Approved"], axis = 1)
Y = demo["Approved"]

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = 1234) # , shuffle = True)

In [17]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [18]:
def log_metrics(true_y, scores):
    train_roc = roc_auc_score(true_y, scores)
    train_acc =  accuracy_score(true_y, scores)
    
    print("--- Confusion Matrix ---")
    print(confusion_matrix(true_y, scores))
    print("Train ROC: ", train_roc) 
    print("Accuracy: ", 100*train_acc,"%")

### Search Gradient Boosted Trees

In [19]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [20]:
np.random.seed(1234)
param_dist = {"n_estimators": [50, 100, 200], 
              "learning_rate": [0.001, 0.01, 0.1],
              "max_depth": [3, 6, 9, None],
              "max_features": ["auto", None, 3, 7, 12]
              }
n_iter_search = 20

In [21]:
gbm_random_search = RandomizedSearchCV(GradientBoostingClassifier(verbose = 1), param_distributions=param_dist,
                                   n_iter=n_iter_search, cv = 3, n_jobs = 3)

In [22]:
gbm_random_search.fit(X, Y)

      Iter       Train Loss   Remaining Time
         1           0.1524           15.13s
         2           0.1523           16.05s
         3           0.1520           16.23s
         4           0.1517           16.72s
         5           0.1513           16.35s
         6           0.1510           16.28s
         7           0.1507           16.11s
         8           0.1505           16.04s
         9           0.1501           16.20s
        10           0.1498           16.39s
        20           0.1477           15.23s
        30           0.1455           14.60s
        40           0.1440           13.59s
        50           0.1426           12.82s
        60           0.1415           11.98s
        70           0.1405           11.15s
        80           0.1396           10.30s
        90           0.1385            9.43s
       100           0.1377            8.57s
       200           0.1325            0.00s

RandomizedSearchCV(cv=3, error_score='raise',
          estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=2, min_weight_fraction_leaf=0.0,
              n_estimators=100, presort='auto', random_state=None,
              subsample=1.0, verbose=1, warm_start=False),
          fit_params={}, iid=True, n_iter=20, n_jobs=3,
          param_distributions={'max_features': ['auto', None, 3, 7, 12], 'learning_rate': [0.001, 0.01, 0.1], 'n_estimators': [50, 100, 200], 'max_depth': [3, 6, 9, None]},
          pre_dispatch='2*n_jobs', random_state=None, refit=True,
          return_train_score=True, scoring=None, verbose=0)

In [23]:
gbm_random_search.cv_results_.keys()

dict_keys(['mean_score_time', 'params', 'mean_fit_time', 'split0_train_score', 'param_max_depth', 'std_train_score', 'param_learning_rate', 'std_test_score', 'rank_test_score', 'std_fit_time', 'split1_test_score', 'std_score_time', 'mean_train_score', 'param_max_features', 'mean_test_score', 'split2_test_score', 'split0_test_score', 'split2_train_score', 'split1_train_score', 'param_n_estimators'])

In [26]:
wanted_grid_params = ["mean_train_score" ,"mean_test_score", "param_n_estimators", "param_learning_rate",
                      "param_max_depth", "param_max_features", "rank_test_score"]

In [27]:
dict_temp = {x:gbm_random_search.cv_results_[x] for x in wanted_grid_params}
search_results = pd.DataFrame(dict_temp)
search_results["test_train_pct_diff"] = (search_results.mean_train_score - search_results.mean_test_score)/ search_results.mean_test_score
search_results[search_results.test_train_pct_diff < 0.10]\
.sort_values(by=["mean_test_score"], ascending = False).head(15)

,mean_test_score,mean_train_score,param_learning_rate,param_max_depth,param_max_features,param_n_estimators,rank_test_score,test_train_pct_diff
9,0.985369,0.985369,0.001,9,7,50,1,-1.527591e-12
17,0.985369,0.985369,0.001,None,7,50,1,-1.527591e-12
16,0.985369,0.985369,0.001,3,7,50,1,-1.527591e-12
15,0.985369,0.985369,0.001,9,7,100,1,-1.527591e-12
12,0.985369,0.985369,0.001,9,auto,100,1,-1.527591e-12
7,0.985369,0.985369,0.01,3,12,200,1,-1.527591e-12
11,0.985369,0.985369,0.01,9,12,50,1,-1.527591e-12
19,0.985354,0.985404,0.01,6,None,100,8,5.095234e-05
10,0.985268,0.985663,0.01,6,auto,200,9,4.003728e-04
8,0.985010,0.986258,0.01,9,auto,100,10,1.266966e-03
5,0.984795,0.988180,0.01,9,None,200,11,3.437576e-03
13,0.984723,0.999821,0.1,None,3,100,12,1.533184e-02
1,0.984207,0.986796,0.1,6,7,100,13,2.630734e-03
4,0.984178,0.988116,0.1,6,7,200,14,4.000876e-03
18,0.983848,0.986244,0.1,6,3,100,15,2.434865e-03

** look through the grid to find the best gradient boosted classifier ** 

The test and train scores are too high and the difference is not high enough  
I think the scorer is accuracy instead of the auc or something more informative  
The input dataset should be modified to adjsut for the class imbalance.

Let's try to get the resampling to work and then try manually finding the right parameters

In [28]:
from sklearn.utils.class_weight import compute_sample_weight

In [29]:
weights_full = compute_sample_weight({1:75, 0:1}, Y) # Weights for Full data

In [30]:
weights = compute_sample_weight({1:75, 0:1}, Y_train) # Weights for sample

In [31]:
# Refit best gbm model 
gbm_better = GradientBoostingClassifier(n_estimators = 50, learning_rate =  0.01, max_depth = 4, verbose = 1, warm_start=True)
gbm_better.fit(X_train,Y_train, sample_weight=weights)

      Iter       Train Loss   Remaining Time
         1           1.3751           31.73s
         2           1.3682           32.16s
         3           1.3614           31.36s
         4           1.3546           29.76s
         5           1.3481           29.41s
         6           1.3415           29.03s
         7           1.3353           28.56s
         8           1.3291           27.78s
         9           1.3231           26.52s
        10           1.3172           25.93s
        20           1.2632           20.40s
        30           1.2177           13.26s
        40           1.1790            6.63s
        50           1.1457            0.00s

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.01, loss='deviance', max_depth=4,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=2, min_weight_fraction_leaf=0.0,
              n_estimators=50, presort='auto', random_state=None,
              subsample=1.0, verbose=1, warm_start=True)

In [32]:
gbm_train_scores = gbm_better.predict(X_train)
gbm_test_scores = gbm_better.predict(X_test)

In [33]:
log_metrics(Y_train, gbm_train_scores)
log_metrics(Y_test, gbm_test_scores)

--- Confusion Matrix ---
[[30471 21032]
 [   58   723]]
Train ROC:  0.758685837154
Accuracy:  59.6626118889 %
--- Confusion Matrix ---
[[10134  7056]
 [   28   211]]
Train ROC:  0.736186992048
Accuracy:  59.3550978255 %

In [34]:
gbm_best = GradientBoostingClassifier(n_estimators = 50, learning_rate =  0.01, max_depth = 4, verbose = 1, warm_start=True)
gbm_final_model = gbm_best.fit(X,Y, weights_full)

      Iter       Train Loss   Remaining Time
         1           1.3762           38.74s
         2           1.3692           33.02s
         3           1.3625           30.35s
         4           1.3560           28.82s
         5           1.3495           28.03s
         6           1.3432           27.72s
         7           1.3370           26.92s
         8           1.3309           26.05s
         9           1.3250           25.41s
        10           1.3191           24.58s
        20           1.2659           23.00s
        30           1.2202           16.28s
        40           1.1814            8.23s
        50           1.1480            0.00s

### Start Submission Steps

In [35]:
test_data = pd.read_csv("Test_Modeling_Dataset.csv")

In [36]:
test_data.head()

,ID,Employer_Category2,Monthly_Income,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,DOB_year,age_DOB,Days_since_lead_creation,Primary_Bank_Type_G,Primary_Bank_Type_P,Contacted_N,Contacted_Y,Source_Category_A,Source_Category_B,Source_Category_C,Source_Category_D,...,Source_S138,Source_S139,Source_S141,Source_S143,Source_S144,Source_S150,Source_S151,Source_S153,Source_S155,Source_S156,Source_S157,Source_S158,Source_S159,Source_S161,Source_S162,Employer_Category1_A,Employer_Category1_B,Employer_Category1_C,Gender_Female,Gender_Male
0,APPA70109647212,4.0,2150.0,0.0,10000.0,3.0,20.0,372.0,4,1988.0,30.0,257,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1
1,APPB10687939341,4.0,4200.0,0.0,69000.0,5.0,24.0,1985.0,7,1981.0,37.0,378,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
2,APPC80449411414,4.0,1000.0,0.0,NaN,NaN,NaN,NaN,0,1990.0,28.0,378,0,1,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0
3,APPD30665094501,3.0,1465.0,0.0,NaN,NaN,NaN,NaN,0,1992.0,26.0,378,0,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0
4,APPE80379821637,4.0,2340.0,500.0,10000.0,2.0,NaN,NaN,0,1988.0,30.0,378,0,1,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1

In [37]:
test_data.index = test_data["ID"]
test_data.drop(["ID"], axis = 1, inplace= True)

In [38]:
# Fill NA's with previous set's values 
test_data = test_data.fillna(fill_nas, axis = 0, inplace=True)

In [39]:
test_data.describe()

,Employer_Category2,Monthly_Income,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,DOB_year,age_DOB,Days_since_lead_creation,Primary_Bank_Type_G,Primary_Bank_Type_P,Contacted_N,Contacted_Y,Source_Category_A,Source_Category_B,Source_Category_C,Source_Category_D,Source_Category_E,...,Source_S138,Source_S139,Source_S141,Source_S143,Source_S144,Source_S150,Source_S151,Source_S153,Source_S155,Source_S156,Source_S157,Source_S158,Source_S159,Source_S161,Source_S162,Employer_Category1_A,Employer_Category1_B,Employer_Category1_C,Gender_Female,Gender_Male
count,30037.000000,3.003700e+04,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,...,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000,30037.000000
mean,3.727793,3.977139e+03,348.921865,39462.041033,3.898181,19.235089,1099.361033,3.962313,1988.487860,29.512140,174.003329,0.304158,0.561441,0.350901,0.649099,0.000100,0.430502,0.163132,0.007324,0.014249,...,0.000033,0.000033,0.000732,0.047974,0.003762,0.000233,0.007657,0.005626,0.000033,0.003363,0.007457,0.002430,0.064887,0.009255,0.000633,0.481706,0.257815,0.207045,0.427240,0.572760
std,0.772131,2.328960e+04,1000.283653,23740.690865,0.894982,3.334475,412.364801,3.821020,14.653248,14.653248,75.396448,0.460058,0.496219,0.477260,0.477260,0.009994,0.495155,0.369492,0.085270,0.118518,...,0.005770,0.005770,0.027054,0.213715,0.061221,0.015264,0.087171,0.074799,0.005770,0.057891,0.086035,0.049239,0.246330,0.095760,0.025143,0.499674,0.437439,0.405195,0.494686,0.494686
min,1.000000,0.000000e+00,0.000000,5000.000000,1.000000,11.990000,118.000000,0.000000,1968.000000,-49.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.000000,1.650000e+03,0.000000,30000.000000,3.890629,19.213570,1101.466242,0.000000,1983.000000,28.000000,123.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,2.500000e+03,0.000000,39429.982859,3.890629,19.213570,1101.466242,2.000000,1987.000000,31.000000,155.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,4.000000,4.000000e+03,350.000000,39429.982859,4.000000,19.213570,1101.466242,7.000000,1990.000000,35.000000,189.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000
max,4.000000,3.500000e+06,43000.000000,300000.000000,6.000000,37.000000,6979.000000,10.000000,2067.000000,50.000000,378.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [40]:
sample_submission = pd.read_csv("Sample_Solution_Yrq0zGh.csv")

In [41]:
sample_submission.head()

Empty DataFrame
Columns: [ID, Approved]
Index: []

### GBM Scores

In [42]:
gbm_sub_scr = gbm_final_model.predict(test_data)
submission_file = pd.DataFrame({"ID":test_data.index, "Approved": gbm_sub_scr})
submission_file.to_csv("GBM_Predictionssklearn .csv", index=False)